<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vpad</title>


    <!--------------owl-Carousel----------------------------->
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">
    <!-------x-------owl-Carousel---------------x-------------->

    <!----------------Aos library----------------------->
    <link rel="stylesheet" href="{% static "css/aos.css" %}">
    <!-------x---------Aos library---------------x-------->
    <!-----------Custom style------------------------>

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/filem.css" %}">
    <link rel="stylesheet" href="{% static "css/about.css" %}">

    <!-----x------Custom style---------x--------------->

    <!--------------------Custom Fontawsome--------------------------------->
    <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}" />
    <!----------x----------Custom Fontawsome----------x----------------------->
</head>

<body>
    <!---------------Navigation----------------------->
    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="/" class="text-gray">Matrixsoftsolutions</a>
            </div>
            <div>
                <div class="toggle-collapse">
                    <div class="toggle-icons">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
            </div>
            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a href="/">Home</a>
                    </li>
                    <li class="nav-link">
                        <a href="/">Category</a>
                    </li>
                    <li class="nav-link">
                        <a href="/post_list">Blogs</a>
                    </li>
                    <li class="nav-link">
                        <a href="/download">Download</a>
                    </li>
                    <li class="nav-link">
                        <a href="/about">About Us</a>
                    </li>
                </ul>
            </div>
            <div class="social text-gray">
                <a href="https://www.linkedin.com/in/rajan-singh-07585718a/" target="_blank"><i
                        class="fab fa-linkedin-in"></i></a>
                <a href="https://www.github.com/RAJANNITCS" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://stackoverflow.com/users/10872180/rajan-singh" target="_blank"><i
                        class="fab fa-stack-overflow"></i></a>
                <a href="https://www.youtube.com/channel/UCBBFYkAbW8nc31Gg00uH2Ng?view_as=subscriber" target="_blank"><i
                        class="fab fa-youtube"></i></a>
            </div>
        </div>
    </nav>
    <!------x---------Navigation-------------x---------->

    <!-----------------------Main Site Section------------------------->
    <div style="text-align:center">
        <h2>vpad softwear Documentation</h2>
        <p>It is applicable for all windows version.</p>
    </div>

    <!--------------------- The App Section ------------------------------->
    <div class="container">
        <div class="row">
            <div class="column-66">
                <h1 class="xlarge-font"><b>Vpad</b></h1>
                <h1 class="large-font" style="color:MediumSeaGreen;"><b>Why use it?</b></h1>
                <p><span style="font-size:36px">Very lightwight Notepad</span> This is very lightwight Notepad for make
                    your notes attractive.it have daly use Notepad features.</p>
                <button class="button"><a href="https://drive.google.com/open?id=1UzaQRE_sZZDKCwswIoD9A-V6c-lI2Nyg"
                        download>
                        Download Application</a></button>
            </div>
            <div class="column-33">
                <img src="{% static "images/softimage/icon.ico" %}" width="335" height="471">
            </div>
        </div>
    </div>
    <!-----------x------------ The App Section ---------x-------------->
    <!------------------------------------ Clarity Section ---------------------------------------------->
    <div class="container" style="background-color:#f1f1f1">
        <div class="row">
            <div class="column-34">
                <h1 class="xlarge-font"><b>Step:1</b></h1>
                <img src="{% static "images/vpad/1.png" %}" alt="App" width="900" height="750">
            </div>
            <div class="column-67">
                <h1 class="large-font" style="color:rgb(107, 78, 78);"><br>You can download this softwear free from <a
                        href="http://www.matrixsoftsolutions.com">www.matrixsoftsolutions.com</a> go on this site and go
                    to download section and you can download easily.</b><br></h1>

            </div>
            <hr>
            <div class="row">
                <div class="column-34">
                    <h1 class="xlarge-font"><b>Step:2</b></h1>
                    <img src="{% static "images/vpad/2.png" %}" alt="App" width="900" height="750 ">
                </div>
                <div class="column-67">
                    <h1 class="large-font" style="color:rgb(107, 78, 78);">Click The down Arrow key and download the softwear zip file</h1>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="column-34">
                    <h1 class="xlarge-font"><b>Step:3</b></h1>
                    <img src="{% static "images/vpad/3.png" %}" alt="App" width="900" height="750">
                </div>
                <div class="column-67">
                    <h1 class="large-font" style="color:rgb(107, 78, 78);">You must have to unzip the file.click right tap on your mouse and select Extract file options.if your window does not have Extract softwear then you can your any zip softwear for unzip the file.</h1>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="column-34">
                    <h1 class="xlarge-font"><b>Step:4</b></h1>
                    <img src="{% static "images/vpad/4.png" %}" alt="App" width="900" height="750">
                </div>
                <div class="column-67">
                    <h1 class="large-font" style="color:rgb(107, 78, 78);">After unzip the file click double tab and open the file and go to dist folder and click double tab on the file.exe file and click next at last click finish</h1>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="column-34">
                    <h1 class="xlarge-font"><b>Step:5</b></h1>
                    <img src="{% static "images/vpad/5.png" %}" alt="App" width="900" height="750">
                </div>
                <div class="column-67">
                    <h1 class="large-font" style="color:rgb(107, 78, 78);">For createing shotcut .Go on build file and create shotcut</h1>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="column-34">
                    <h1 class="xlarge-font"><b>Step:6</b></h1>
                    <img src="{% static "images/vpad/6.png" %}" alt="App" width="900" height="750">
                </div>
                <div class="column-67">
                    <h1 class="large-font" style="color:rgb(107, 78, 78);">You can use vpad .this vpad have more features for make your task easy.</h1>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="column-34">
                    <h1 class="xlarge-font"><b>Step:7</b></h1>
                    <img src="{% static "images/vpad/7.png" %}" alt="App" width="900" height="750">
                </div>
                <div class="column-67">
                    <h1 class="large-font" style="color:rgb(107, 78, 78);">You can also use shotcut and open other file in vpad.</h1>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="column-34">
                    <h1 class="xlarge-font"><b>Step:8</b></h1>
                    <img src="{% static "images/vpad/8.png" %}" alt="App" width="900" height="750">
                </div>
                <div class="column-67">
                    <h1 class="large-font" style="color:rgb(107, 78, 78);">if you should find any word in your file then you can easily fild with the help of these</h1>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="column-34">
                    <h1 class="xlarge-font"><b>Step:9</b></h1>
                    <img src="{% static "images/vpad/9.png" %}" alt="App" width="900" height="750">
                </div>
                <div class="column-67">
                    <h1 class="large-font" style="color:rgb(107, 78, 78);">You can use various theme with this Notepad.</h1>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="column-34">
                    <h1 class="xlarge-font"><b>Step:10</b></h1>
                    <img src="{% static "images/vpad/10.png" %}" alt="App" width="900" height="750">
                </div>
                <div class="column-67">
                    <h1 class="large-font" style="color:rgb(107, 78, 78);">you can also change your writing color</h1>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="column-34">
                    <h1 class="xlarge-font"><b>Step:11</b></h1>
                    <img src="{% static "images/vpad/11.png" %}" alt="App" width="900" height="750">
                </div>
                <div class="column-67">
                    <h1 class="large-font" style="color:rgb(107, 78, 78);">There are so many font for your daly use.</h1>
                </div>
            </div>
        </div>
    </div>
    <!--=============x==========Clarity Section------------------x---vpad
<!-----------x------------Main Site Section----------------x--------->
    <!--------------------------------Footer----------------------------->
    <footer class="footer">
        <div class="container">
            <div class="about-us" data-aos="fade-right" data-aos-delay="200">
                <h2>About us</h2>
                <p>Rajan Singh</p>
                <p>rajan.nit.cs@gmail.com</p>

            </div>
            <div class="newsletter" data-aos="fade-right" data-aos-delay="200">
                <h2>Newsletter</h2>
                <p>Stay update with our latest</p>
                <form method="POST">
                    <div class="form-element">
                        {%csrf_token%}
                        <input type="text" placeholder="Email" name="mailid">
                        <button type="submit" class="pointer"><i class="fas fa-chevron-right"></i></button>
                    </div>
                </form>

            </div>
            <div class="instagram" data-aos="fade-left" data-aos-delay="200">
                <h2>Twitter</h2>
                <div class="flex-row">
                    {%for post in post_list %}
                    <img src="{{post.Image.url}}" alt="instagram1">
                    {%endfor%}
                </div>

            </div>
            <div class="follow" data-aos="fade-left" data-aos-delay="200">
                <h2>Follow us</h2>
                <p>Let us be Social</p>
                <div>
                    <a href="https://www.linkedin.com/in/rajan-singh-07585718a/" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.github.com/RAJANNITCS" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://stackoverflow.com/users/10872180/rajan-singh" target="_blank"><i
                            class="fab fa-stack-overflow"></i></a>
                    <a href="https://www.youtube.com/channel/UCBBFYkAbW8nc31Gg00uH2Ng?view_as=subscriber"
                        target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="rights flex-row">
            <h4 class="text-gray">
                Copyright ©2019 All rights reserved | made by Matrixsoftsolutions
                <a href="" target="_black"><i class="fab fa-youtube"></i>
                </a>
            </h4>
        </div>
        <div class="move-up">
            <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
        </div>
    </footer>
    <!--------x------------------------Footer--------------x--------------->


    <!-------- jquery library file--------------------->
    <script src="{% static "js/jquery3.4.1.min.js"%}"></script>
    <!----x---- jquery library file--------------x------->
    <!--------------owl-Carousel-js----------------------------->
    <script src="{% static "js/owl.carousel.min.js"%}"></script>
    <!-------x-------owl-Carousel-js------------------x----------->
    <!---------------------Aos.js library-------------->
    <script src="{% static "js/aos.js"%}"></script>
    <!------------x---------Aos.js library--------x------>
    <!---------Custom JavaScript--------------------->
    <script src="{% static "js/main.js"%}"></script>
    <!----x-----Custom JavaScript-------x-------------->

</body>

</html>